<!-- views/profile.ejs -->
<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name = "apple-mobile-web-app-capable" content="yes"/>
		<meta http-equiv="pragma" content="no-cache"/> 
		<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/> 
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-status-bar-style" content="white" />
		<meta name="viewport" content="user-scalable=0, initial-scale=1, maximum-scale=1, minimum-scale=1" />
		<link rel="apple-touch-icon" href="images/Icon.png" />
		<link rel="shortcut icon" href="images/Icon.png">
		<title>Healthcoin - Profile</title>
	
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
		<!-- Bootstrap core CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<!-- Bootstrap theme -->
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="/css/theme.css" rel="stylesheet">
	</head>
    <body role="document">
    <div id='wrapper' data-bind='css: { toggled: $data.sidebarToggled }'>
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"> <a href="/"></a> </li>
                <li> <a href="/"><div class="sidebar-nav-button-content"><div class="glyphicon glyphicon-home" aria-hidden="true"><span class="sidebar-nav-button-content">Healthcoin</span></div></div></a></li>
                <li> <a href="/profile"><div class="sidebar-nav-button-content"><div class="glyphicon glyphicon-user" aria-hidden="true"><span class="sidebar-nav-button-content">Profile</span></div></div></a> </li>
                <li> <a href="/logout"><div class="sidebar-nav-button-content"><div class="glyphicon glyphicon-lock" aria-hidden="true"><span class="sidebar-nav-button-content">Logout</span></div></div></a> </li>
            </ul>
        </div>
        <div id='page-content-wrapper'>
        <div id='wallet-container'>
            <div class='top-content'>
                <div class='container'>
                    <div class="button-settings"><span data-bind="click: toggleSidebar" class="glyphicon glyphicon-menu-hamburger"></span></div>
                    <div class="button-refresh"><span data-bind="click: refresh" class="glyphicon glyphicon-refresh"></span></div>
                </div>
                <div class='wallet-stats container'>
                    <div class="row" data-bind="with: walletStatus">
                        <div class="col-sm-4 left text">Total: <span data-bind='text: totalFmt'></span> HCN</div>
                        <div class="col-sm-4 center text">Available: <span data-bind='text: availableFmt'></span> HCN</div>
                        <div class="col-sm-4 right text">Staking: <span data-bind='text: stakeFmt'></span> HCN</div>
                    </div>
                </div>
            </div>
            <div id="main" class="container" role="main">

				<!-- Currentview equivolent-->
				<div class="page-header text-center">
					<h1><span class="fa fa-profile"></span> Your Healthcoin<sup>&reg;</sup> Profile</h1>
				</div>
				<div class="row">
					<!-- GENERAL INFORMATION -->
					<div class="col-sm-6">
						<div class="well">
							<h3><span class="fa fa-user"></span> Profile</h3>
								<p>
									<strong>Uid</strong>: <%= user._id %><br>
									<strong>Role</strong>: <%= user.profile.role %><br>
									<strong>Name</strong>: <%= user.profile.name %><br>
									<strong>Email</strong>: <%= user.profile.email %><br>
									<strong>Image</strong>: <%= user.profile.image %><br>
									<strong>Description</strong>: <%= user.profile.description %><br>
									<strong>Age</strong>: <%= user.profile.age %><br>
									<strong>Weight</strong>: <%= user.profile.weight %><br>
									<strong>Gender</strong>: <%= user.profile.gender %><br>
									<strong>Ethnicity</strong>: <%= user.profile.ethnicity %><br>
									<strong>HCN Account</strong>: <%= user.profile.hcn_account %><br>
									<strong>HCN Address</strong>: <%= user.profile.hcn_address %><br>
								</p>
						</div>
					</div>
					<!-- LOCAL INFORMATION -->
					<div class="col-sm-6">
						<div class="well">
							<h3><span class="fa fa-file"></span> Local</h3>
								<p>
									<strong>id</strong>: <%= user._id %><br>
									<strong>email</strong>: <%= user.local.username %><br>
									<strong>password</strong>: <%= user.local.password %>
								</p>
						</div>
					</div>
					 <!-- FACEBOOK INFORMATION -->
					<div class="col-sm-6">
						<div class="well">
							<h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
							<p>
								<strong>id</strong>: <%= user.facebook.id %><br>
								<strong>token</strong>: <%= user.facebook.token %><br>
							</p>
						</div>
					</div>
					 <!-- GOOGLE INFORMATION -->
					<div class="col-sm-6">
						<div class="well">
							<h3 class="text-primary"><span class="fa fa-google-plus"></span> Google</h3>
							<p>
								<strong>id</strong>: <%= user.google.id %><br>
								<strong>token</strong>: <%= user.google.token %><br>
							</p>
						</div>
					</div>
					 <!-- TWITTER INFORMATION -->
					<div class="col-sm-6">
						<div class="well">
							<h3 class="text-primary"><span class="fa fa-twitter"></span> Twitter</h3>
							<p>
								<strong>id</strong>: <%= user.twitter.id %><br>
								<strong>token</strong>: <%= user.twitter.token %><br>
							</p>
						</div>
					</div>
				</div>

            </div> <!-- /container -->
        </div> <!-- #walletcontainer -->
        </div>
    </div>
    <div data-bind="modal:showDialog"  id="defaultModal" class="modal" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--ko template: { name: $data.modalView, data:$data.modalViewModel } --><!-- /ko -->
            </div> 
        </div> 
    </div> 
    <!-- Modal -->
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="js/lib/jquery-1.9.1.min.js"></script>
        <script src="js/lib/bootstrap.min.js"></script>
        <!-- script src="js/lib/docs.min.js"></script -->
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="js/lib/ie10-viewport-bug-workaround.js"></script>
        <script src="js/lib/sammy.js" type="text/javascript"></script>
        <script data-main="js/main" src="js/lib/require.debug.js"></script>
    </body>

<body>
<div class="container">

</div>
</body>
</html>